{% extends "base.html" %}
{% block content %}

<h3 id="test">Contents in List: {{ full_details.name }} </h3>
<p>Notes: {{ full_details.notes }}</p>
<a href="{% url 'update_list_form' full_details.list_id %}">Update List Info</a> <br>
<p>Total Items: {{ full_details.total_qty }}, Total Weight (g): {{ full_details.total_weight }} </p>

<a href="{% url 'item_form' full_details.list_id%}" >Create New Item</a> <br>
<a href="{% url 'category_form' full_details.list_id%}" >Create New Category</a>



<canvas id="myChart" style="width:100%;max-width:700px"></canvas>


{% for category in full_details.categories %}
<div>
  <h4 class="category-name"> {{ category.name }} </h4>
  <a href="{% url 'update_category_form' full_details.list_id category.category_id %}">Update</a>
  <a href="{% url 'delete_category' full_details.list_id category.category_id %}">Delete</a>
</div>

<table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Weight(g)</th>
      <th>Qty</th>
      <th></th>
    </tr>

    {% for item in category.items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.weight }}</td>
      <td>{{ item.qty }}</td>
      <td>
        <a href="{% url 'update_item_form' full_details.list_id item.item_id %}">Update</a>
        <a href="{% url 'delete_item' full_details.list_id item.item_id %}">Delete</a>
      </td>
    </tr>
    {% endfor %}

    <tr>
        <td></td>
        <td>Subtotal:</td>
        <td class="subtotal-weight">{{ category.subtotal_weight }}</td>
        <td>{{ category.subtotal_qty }}</td>
        <td></td>
    </tr>

  </table>
{% endfor %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
  let categories = document.getElementsByClassName("category-name");
  let subtotals = document.getElementsByClassName("subtotal-weight"); 
  const chartLabels = [];
  const chartData = [];

  //colors from https://flatuicolors.com/palette/us
  const colorPalette = ['#00b894','#ffeaa7','#fab1a0','#00cec9','#ff7675','#fd79a8','#0984e3','#6c5ce7','#b2bec3','#636e72'];
  const colorPaletteLength = colorPalette.length; // 10

  const chartColors = [];
  for (let i = 0; i <categories.length; i++) {
      chartLabels.push(categories[i].innerHTML);

      if (i < colorPaletteLength) {
        chartColors.push(colorPalette[i]);
      } else {
        chartColors.push(colorPalette[i % colorPaletteLength]);
      }
  }

  for (let i = 0; i <subtotals.length; i++) {
      chartData.push(subtotals[i].innerHTML);
  }



  new Chart("myChart", {
    type: "doughnut",
    data: {
      labels: chartLabels,
      datasets: [{
        backgroundColor: chartColors,
        data: chartData
      }],
      hoverOffset: 4
    },
    options: {
      title: {
        display: true,
        text: "Weight by Category"
      }
    }
  });
</script>

{% endblock %}