{% extends "base.html" %}
{% block content %}

<h3>Contents in List: {{ full_details.name }} </h3>
<p>Notes: {{ full_details.notes }}</p>
<p>Total Items: {{ full_details.total_qty }}, Total Weight (g): {{ full_details.total_weight }} </p>

<a href="{% url 'item_form' full_details.list_id%}" >Create New Item</a> <br>
<a href="{% url 'category_form' full_details.list_id%}" >Create New Category</a>

{% for category in full_details.categories %}
<h4>
  {{ category.name }} 
  <a href="{% url 'update_category_form' full_details.list_id category.category_id %}">Update</a>
  <a href="{% url 'delete_category' full_details.list_id category.category_id %}">Delete</a>
</h4>
<table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Weight(g)</th>
      <th>Qty</th>
      <th></th>
    </tr>

    {% for item in category.items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>{{ item.weight }}</td>
      <td>{{ item.qty }}</td>
      <td>
        <a href="{% url 'update_item_form' full_details.list_id item.item_id %}">Update</a>
        <a href="{% url 'delete_item' full_details.list_id item.item_id %}">Delete</a>
      </td>
    </tr>
    {% endfor %}

    <tr>
        <td></td>
        <td>Subtotal:</td>
        <td>{{ category.subtotal_weight }}</td>
        <td>{{ category.subtotal_qty }}</td>
        <td></td>
    </tr>

  </table>
{% endfor %}

{% endblock %}