:root {
    --color-orange: #f57e3e;
    --color-light-orange: #ffb085;
    --color-dark-orange: #d15512;
    --color-light-grey: rgb(247, 247, 247);
    --color-light-grey-2: rgb(240, 240, 240);
    --color-grey: rgb(207, 207, 207);
    --color-dark-grey: grey;
    --color-blue: #426490;
    --color-light-blue: #90aacb;
    --color-light-blue-2: #d0dff1;
    --color-light-blue-3: #c7d3e1;

    --color-red: #db4c3f;
    --color-font-black: #2d2d2d;
}

.ball {
width: 30px;
height: 30px;
border-radius: 100%;
}
body {
    color: var(--color-font-black);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji",Helvetica,Arial,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
    margin: 0px 0px 0px 0px;
    height: 100%;
}
.category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button {
    border: none;
    background: none;
    cursor: pointer;
}
.add-item {
    background: none;
    border: none;
    color: grey;
}
.add-category {
    display: flex;
    width: 100%;
    align-items: center;
    background: none;
    border: none;
    color: var(--color-dark-grey);
}
.add-category:hover {
    color: var(--color-dark-orange);
}

.add-category > * {
    flex: 1;
}
.category-line {
    background: var(--color-dark-grey);
    height: 1px;
    content: "";
}
.add-category:hover > .category-line {
    background: var(--color-dark-orange);
}
.delete-category-wrapper {
    position: relative;
    width: 24px; /* Match the width of the SVG */
    height: 24px; /* Match the height of the SVG */

}
.delete-category-wrapper svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s ease;
}
.delete-category-wrapper > .delete-icon {
    visibility: hidden;
}
.delete-category-wrapper:hover > .delete-icon-outline {
    visibility: hidden;
}
.delete-category-wrapper:hover > .delete-icon {
    visibility: visible;
}
.delete-icon:hover {
    cursor: pointer;
    fill: var(--color-red);
}
table {
    table-layout: fixed;
    width: 100%;
}

th {
    text-align: left;
    font-size: x-small;
}
td {
    border-top: 1px solid #ddd ;
    font-size: small;
    height: 30px;
}
.shareView td {
    height: 20px;
}
td:focus {
    outline: solid 2px rgb(75, 124, 177);
}

.item-icon {
    fill: var(--color-dark-grey);
}

.item-icon > button:hover {
    fill: var(--color-red);

}

.table-form {
    background: #FFFFFF;
    height: 20px;
    border-top:solid black;
}


.allLists li {
    display: flex;
    align-items: center;
    margin: 5px 0px;
    height: 30px;
    font-size: 14px;
}
.allLists li > a {
    padding: 0 5px;
    text-decoration: none;
    color: black;
    flex: 8;
}

a {
    font-weight: 600;
}
a:visited {
    color: var(--color-font-black)
}

.active {
    background-color: var(--color-light-blue-2);
    border-radius: 4px;
 
}
ul {
    list-style: none;
    padding-left: 0;
}
div {
    border-style: none;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 20px 30px;
    background: var(--color-light-grey);
    transition: width 5s;
    z-index:20;
}
.sideBarHeader {
    display: flex;
}
.sideBarHeader a {
    width: 100%;
}
.sidebar.hideBar {
    display: none;
}
.mobileMenu {
    position: absolute;
    top: 20px;
    left: 30px;
}

.collapsedSideBar {
    position: absolute;
    top: 20px;
    left: 30px;
}
.showListsButton {
    color: var(--color-font-black)
    }

.showListsButton {
    position: fixed;
}
 .showListsButton > svg {
    position: absolute;
    left: 0;
    top: 0;
 } 
.showListsButton:hover > .hamburgerIcon {
    visibility: hidden;
}
.showListsButton > .arrowIcon {
    visibility: hidden;
}
.showListsButton:hover > .arrowIcon {
    visibility: visible;
}

.collapsedSideBar.showBar {
    display: none;
}
.mobileMenu.showBar {
    display: none;
}

.listDetails {
    margin-left: 300px;
    padding: 60px 30px;
    /*transition: 1s;*/
}
.listDetails.hideBar {
    margin-left: 0px;
   /* transition: margin-left .5s;*/
}
.list-details-name {
    padding: 8px;
}
.list-details-name:hover {
    background-color: var(--color-light-grey-2);
    border-radius: 4px;
}

.edit-input {
    height: 30px;
    width: 50%;
    font-size: 16px;
    font-weight: 800;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;

}
.edit-form {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
.add-item {
    color: var(--color-dark-grey);
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    gap: 4px;
}

 .add-icon-wrapper {
    position: relative;
    width: 24px; /* Match the width of the SVG */
    height: 24px; /* Match the height of the SVG */

} 

.add-icon-wrapper svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.add-item svg {
    color: var(--color-dark-orange);
    /* margin: 0px 2px 3px 0; */
}
.add-item .plus-filled {
    visibility: hidden;
}
.add-item:hover .plus-outline {
    visibility: hidden;
}

.add-item:hover .plus-filled {
    visibility: visible;
}
.add-item:hover {
    color: var(--color-dark-orange);
    font-weight: 600;
}

.add-list:hover {
    color: var(--color-dark-orange);
}
/* borrowed from online */
.primary-button {
  background-color: var(--color-orange);    
  border-radius: 5px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 30px;
  line-height: 20px;
  list-style: none;

  outline: none;
  padding: 5px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--color-dark-orange);

}


.primary-button:disabled {
    background-color: var(--color-light-orange);
    cursor: not-allowed;
}



/* CSS */
.secondary-button {
    background-color: var(--color-light-grey-2);
    border-radius: 5px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    line-height: 20px;
    list-style: none;

    outline: none;
    padding: 5px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.secondary-button:hover,
.secondary-button:focus {
    background-color: var(--color-grey);
}

.primary-button.small, .secondary-button.small {
    height: 24px;
    font-size: 12px;
    line-height: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 5px 0;
}

.item-form {
    /* border: solid var(--color-grey); */
    border: solid 1px var(--color-dark-grey);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
    font-size: small;
}
.item-form div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.item-form input, .item-form select {
    padding: 8px;
}

.item-form .quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-form .requiredfield {
    text-align: right;
}
.button-row button {
    margin-top: 10px;
}
.chart-details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.chart-details > * {
    flex: 1;
    text-align: center;
}

.modal-background {
    position: fixed;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-new-list {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: 300px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.16);
    padding: 20px;
}
.modal-new-list h3 {
    margin: 0;
}
.modal-new-list form {
    font-size: 14px;;
    display: flex;
}

.modal-new-list form input,textarea{
    padding: 5px;
}
.modal-new-list .modal-content {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.modal-new-list #notes {
    height: 100px;
}
.modal-new-list .modal-footer {
    display:flex;
    gap: 10px;
    justify-content: right;

}

.modal-delete {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 400px;
    height: 150px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.16);
    padding: 20px;


}
.modal-delete h3 {
    margin: 0;
    text-align: center;
}
.modal-delete .modal-footer {
    display:flex;
    gap: 10px;
    justify-content: center;
}

.chart-table {
    text-align: left;
}

.chart-details > div {
    display: flex;
    justify-content: center;
}

.notes {
    width: 400px;
    overflow: scroll;
    border: solid;
}

.nav-list {
    display: flex;
    padding-left: 10px;
    cursor: pointer;
    gap: 10px;
    margin-top: 5px;
}
.nav-list svg {
    visibility: hidden;
}
.nav-list:hover {
    background-color: var(--color-light-grey-2);
    border-radius: 4px;
}
.nav-list:hover svg {
    visibility: visible;
}

.nav-list svg:hover {
    color: var(--color-red);

}
.listName {
    width: 100%;
}
.listNameIcon {
    padding-right: 10px;
}

tfoot td {
    font-weight: 700;
}

thead th {
    font-weight: 700;
    font-size: small;
}

.item-icon > .edit:hover {
    text-decoration: underline;
    font-weight: 800;
}
.home {
    text-decoration: none;
}

.userHeader {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
}

.shareView {
    padding-left: 80px;
    padding-right: 80px;

}
.tableCategoryName {
    font-size: 1.2em;
}

td {
    line-height: 10px;
}
@media screen and (max-width: 768px) {

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
    }
    .collapsedSideBar {
        display: none;
    }
    .listDetails {
        margin-left: 0px;
    }
    .mobileMenu {
        display: block
    }
    .chart-details {
        flex-direction: column-reverse;
    }

  }

@media screen and (min-width: 768px) {
    .mobileMenu {
        display: none
    }
}
@media screen and (max-width: 768px) {
    .chart-details {
        flex-direction: column-reverse;
    }
}

.donut-chart {
    height: 300px;
}

.link-pop-up {
    position: fixed;
    padding: 3px 10px;
    top: 5%;
    left: 50%;
    background-color: var(--color-light-blue-3);
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: small;
  }
  
  .tablerow {
    display: flex;
    width: 100%;
    border-top: 1px solid #ddd; /* Optional: Adds a table-like border */
    justify-content: center;
  }
  .name > a {
    text-decoration: underline;
  }
  .tablerow:not(.tableheader):hover, .tablerow.editing {
    /*background-color: var(--color-light-grey);*/
    border-left: solid 4px var(--color-dark-grey);
    align-items: center;
  }
  .tablerow:not(.tableheader):hover {
    background-color: var(--color-light-grey);
  }
  .tablerow > div {
    padding-right: 8px;

  }
  .tableheader {
    font-weight: bold;
    border-top: none;
    background-color: none; 
  }
  .tablerow .edit, .tablerow .delete {
    visibility: hidden;
  }
  .tablerow:hover button {
    visibility: visible;
  }

  .editmode .edit:hover {
    text-decoration: underline;
  }
  .editmode .edit {
    font-weight: 600;
  }
  .editmode .delete:hover {
    fill: var(--color-red);
  }

  
  .name, .weight, .qty, .editmode {
    display: flex;
    align-items: center;
    flex: 1; /* Takes 1 flex space */
    padding: 1px; 
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2; /* Takes 2 flex spaces */
    gap: 4px;
  }
  .desc .link {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  .link input {
    width: 100%;
  }
  
  .tablerow > div {
    text-align: left; /* Aligns text to the left */
  }
.name input, .weight input, .qty input {
    padding: 4px;
    width: 100%;
}
.desc input {
    padding: 4px;
}
.link span {
    font-weight: 600;
}
.weight input {
    margin-right: 4px;
}
.loginform, .signupform, .forgotpasswordform, .changepasswordform {
    border: solid 1px var(--color-font-black);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 10px;
    padding: 30px 0px 50px 0px;
    margin-top:60px;
}
.login, .signup, .forgotpassword, .changepassword {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inputContainer input {
    padding: 8px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: inherit; /* Same color as unvisited links */
}

form a:hover {
    text-decoration: underline;
}
.categorySection {
    margin-bottom: 20px;
}

.item-table {
    margin-top: 20px;
}
.shareView {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh;      /* Ensure the container fills the viewport height */
}
.sharePageFooter {
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.sharePageFooter h4 {
    margin: 0;
}
.fyiMessage {
    font-size:small;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px var(--color-dark-grey);
    border-radius: 4px;
    background-color: var(--color-light-grey);
}